<!DOCTYPE html>
<html lang="en" ng-app="PikadayDemo">
  <head>
    <meta charset="utf-8">
    <title>angular-pikaday by nverba</title>
    <meta name="description" content="An AngularJS directive wraper for the Pikaday datepicker">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/pikaday.css">
    <link rel="stylesheet" href="lib/highlight/styles/github.css">

    <script src="lib/angular.js"></script>
  </head>
  <body ng-controller="Ctrl">

    <div id="hero">
      <div class="wrap">
        <div class="brand">
          <img src="img/screenshot.png" class="screenshot" alt="Pikaday screenshot" />
          <h1>angular-pikaday</h1>
        </div>
        <h3 class="tagline">An AngularJS directive wraper for the <a href="https://github.com/dbushell/Pikaday" target="_blank">Pikaday</a> datepicker</h3>
        <a href="https://github.com/nverba/angular-pikaday" target="_blank" class="button github-button">View on GitHub</a>
      </div>
    </div>

    <div id="content">
      <div class="wrap">
        <div id="marked">

<!-- MARKDOWN CONTENT /////////////////////////////////////////////////////////////////////////////////// -->

## __angular-pikaday__ [working examples](http://nverba.github.io/angular-pikaday/)

Tested and working with [Pikaday Release version 1.2.0](https://github.com/dbushell/Pikaday/releases/tag/1.2.0)

__angular-pikaday__ is an AngularJS directive wraper that aims to make using __Pikaday__ with __Angular__ as simple as possible, exposing __Pikaday's__ configurable features as HTML attributes, handled by the directive.

### __Pikaday__ [source code & documentation](https://github.com/dbushell/Pikaday)

## Basic usage


Include the `pikaday` attribute and assign a scope.

``` language-HTML
<input pikaday="myPickerObject">

```

<input pikaday="myPickerObject2">


The date string returned to the input field will be pre-formatted by __Pikaday__, although formatting can be configured manually with the `format` attribute, if __moment.js__ is included.



## Methods

__angular-pikaday__ binds the Pikaday picker object to the named scope and supports several methods for retrieving and updating the date.

For example, the `myPickerObject.getDate()` method can be user to retrieve a JavaScript Date object, which can easily be formatted using Angular.js' built in formatters.


```
<span> Date = {{ myPickerObject.getDate() | date:'MM/dd/yyyy' }}</span>

```

<h3><input pikaday="myPickerObject"> ` Date = {{ myPickerObject.getDate() | date:'MM/dd/yyyy' }}`</h3>

To see a complete list of methods available to the Pikaday object, check out the [Pikaday README on Github](https://github.com/dbushell/Pikaday).

## Available attributes

__angular-pikaday__ accepts most of Pikaday's configuration options as HTML attributes.

- `trigger` use a different element to trigger opening the datepicker, see trigger example (defaults to directive DOM element)
- `bound` automatically show/hide the datepicker on field focus (default true)
- `position` preferred position of the datepicker relative to the form field, e.g.: top right, bottom right Note: automatic adjustment may occur to avoid datepicker from being displayed outside the viewport.
- `format` the default output format for .toString() and field value (requires Moment.js for custom formatting)
- `default-date` the initial date to view when first opened
- `set-default-date` make the defaultDate the initial selected value
- `first-day` first day of the week (0: Sunday, 1: Monday, etc)
- `min-date` the minimum/earliest date that can be selected
- `max-date` the maximum/latest date that can be selected
- `year-range` number of years either side of the year select drop down (e.g. 10) or array of upper/lower range (e.g. [1900,2012])
- `is-r-t-l` reverse the calendar for right-to-left languages (default false)
- `year-suffix` additional text to append to the year in the title
- `show-month-after-year` render the month after year in the title (default false)


## Examples


### Un-bound the datepicker from the input field

``` language-HTML
<input pikaday="example1" bound="false">

```

<input pikaday="example1" bound="false">

<hr>

### Target a seperate element to trigger the datepicker

``` language-HTML
<input pikaday="example2" trigger-id="date-picker">
<button id="date-picker">Select date</button>

```

<input pikaday="example2" trigger-id="date-picker">
<button id="date-picker">Select date</button>

<hr>

### Min and max dates with default date set

``` language-HTML
<input pikaday="example3" set-default-date="true" default-date="01/17/2007" min-date="01/07/2007" max-date="01/25/2007">

```

<input pikaday="example3" set-default-date="true" default-date="01/17/2007" min-date="01/07/2007" max-date="01/25/2007">

<hr>

### Show month after year in title and add suffix to year for i18n compatability

``` language-HTML
<input pikaday="example4" year-range="2" show-month-after-year="true" year-suffix="xxx">

```

<input pikaday="example4" year-range="2" show-month-after-year="true" year-suffix="xxx">

<hr>

### Change first day of week to monday

``` language-HTML
<input pikaday="example5" first-day="1">

```

<input pikaday="example5" first-day="1">

<hr>

### Update the datepicker programmatically

```
# In the Angular.js controller
$scope.set = function (d) {
  $scope.example6.setDate(new Date(d));
}
```

``` language-HTML
<input pikaday="example6" bound="false">
<button ng-click="set('01/01/2014')">1st Jan 2014</button>

```

<input pikaday="example6" bound="false">
<button ng-click="set('01/01/2014')">1st Jan 2014</button>

<!-- CLOSE MARKDOWN CONTENT ///////////////////////////////////////////////////////////////////////////// -->

        </div>
      </div>
    </div>

    <div id="footer">
      <div class="wrap">
        <p class="license">Code licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </div>
    </div>

    <script src="lib/marked.js"></script>
    <script src="lib/highlight/highlight.pack.js"></script>

    <script>
        var mark = document.getElementById("marked");
        mark.innerHTML = marked(mark.innerHTML);
        hljs.initHighlightingOnLoad();
    </script>

    <script src="lib/moment.min.js"></script>
    <script src="lib/pikaday.js"></script>
    <script src="js/app.js"></script>
    <script src="js/angular-pikaday.js"></script>

  </body>
</html>
